.im{
    border:3px solid black;
    display: inline-block;
    height:323px;
    margin:69px;
}
.bdy{
    background-color: red;
    width: 500px;
    border:5px solid blue;
    display:inline-block;
    margin-left: 250px;
}